
header {
  margin-top: 3%;
  text-align: center;
}

.refresh {
  display: flex;
  justify-content: space-around;
}


.btn-but {
  margin-left: 1%;
}

body {
  background: linear-gradient(-45deg, blue, red);
  ;
}

.scores {
  border: 2px solid violet;
  padding: 2%;
  border-radius: 8%;
  width: 40%;
  background: rgba(0, 0, 255, 0.397);
}
.input {
   border: 2px solid violet;
   padding: 2%;
   border-radius: 8%;
   width: 40%;
   background: rgba(0, 0, 255, 0.397);
}

li {
color: rgba(255, 255, 255, 0.692);
font-weight: bold;
}
